<!DOCTYPE html>
<html>
<head>
    <title>Vida Saludable</title>
    <style>
        body{
            font-family: Arial;
            background: #dff0d8;
            text-align: center;
            padding: 50px;
        }
        a{
            display:inline-block;
            margin:20px;
            padding:15px 25px;
            background: green;
            color:white;
            text-decoration:none;
            border-radius:10px;
        }
    </style>
</head>
<body>
    <h1>🌱 Vida Saludable</h1>
    <p>Bienvenido al sistema de control saludable</p>

    <a href="/registro">Crear Cuenta</a>
    <a href="/login">Iniciar Sesión</a>
</body>
</html>